.DS_Store
.idea
.vscode
node_modules/
ferum
package-lock.json
yarn.lock
build/
ferum_store.log*
store.log*
bin/
secrets/
go.sum.bak
go.mod.bak
kv_store/
logs/
hardhat_artifacts/
hardhat_cache/
hardhat_abi/
hardhat_deployments/localhost
ignition/
coverage.json
coverage/
